# Build
build/
dist/
*.egg-info/
.eggs/

# Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
face_landmarker.task
sample_image/
*.log

# Coverage
.coverage
htmlcov/
coverage.xml

images
.pytest_cache
docs/